<label>
  <select onchange={{action (mut selectedSort) value='target.value'}}>
    {{#each sortingOptions as |option|}}
      <option value={{option}}>{{option}}</option>
    {{/each}}
  </select>
</label>

<div id="chartdiv"></div>
<p>Note: Entries that have the same day as the start and end day will have 1 day added to the end day, otherwise they will not render on the chart</p>