<header class='navbar'>
  <section class='navbar-section'>
    {{#link-to 'index' class='navbar-brand'}}AniHistory{{/link-to}}
  </section>
  <section class='navbar-section'>
    <div class='tab tab-block'>
      <div class='tab-item'>
        {{#link-to 'update' 'true'}}Update{{/link-to}}
      </div>
    </div>
    <div class='input-group input-inline'>
      {{input class='form-input' type='text' value=userName enter=(action 'goToUser') placeholder='username'}}
      <button class='btn btn-primary input-group-btn' {{action 'goToUser'}}>Search</button>
    </div>
  </section>
</header>
{{yield}}