.chart {
  width: 100%;
  height: 86vh;
}

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

#user-update {
  width: 100%;
}

.update-btn {
  margin-top: 1em;
}

.toast {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tab {
  margin-right: 10px;
}
